#header {
  color: white;
}

#header_links { 
  background-color: #054756;
  height: 86px;
  width: 897px;
}

#logo { 
  display: block; 
  width: 385px; 
  height: 86px; 
  background: url(/images/logo.jpg) no-repeat; 
  float: left;
  text-indent: -10000px;
}

.header_link_column {
  float: left;
  height: 74px;
  min-height: 74px;
  width: 125px;
  background-color: #054756;
  border-left: 3px solid white;
  color: white;
  padding-top: 12px;
}

.header_link_column a {
  font-size: 11px;
}

.header_link_column ul {
  padding-left: 4px;
  padding-top: 6px;
}

.header_link_column li {
  height: 17px;
}

.header_link_column strong {
  font-size: 12px;
  padding-left: 4px;
  padding-top: 12px;
}

.left {
  float: left;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

#search_box {
  border-top: 3px solid white;
  padding: 5px;
  margin-top: 5px;
  background: url(/images/search_bg.png) repeat-x;
}

#search_wrapper {
  border: 1px solid #7FB1BB;
}

#search_box #search_input {
  width: 86px;
  border: 1px solid black;
  border-right: none;
  font-size: 11px;
  margin: 0px;
  padding: 2px 1px;
  height: 14px;
}

#search_button {
  background: url(/images/search.png) no-repeat -5px -4px;
  border: 1px solid black;
  border-left: none;
  width: 24px;
  height: 20px;
  font-size: 11px;
  text-indent: -10000px;
  cursor: pointer;
}

#header_infoline {
  clear: both;
  height: 25px;
  min-height: 25px;
  margin-top: 3px;
  background-color: #5d6768;
  color: white;
  width: 897px;
  line-height: 25px;
}

#header_infoline .separator {
  margin: 0px 6px;
  display: inline;
}

#header_infoline ul {
  width: 649px;
}

#header_infoline .arrow {
  font-size: 20px;
  margin-right: 7px;
  color: white;
}

#arrows {
  margin-top: -2px;
  margin-left: 5px;
}

